python_files/code_for_figures_matchTwo_BC/**/*.npy filter=lfs diff=lfs merge=lfs -text
python_files/Higher_Order_Finding_U_Matrices/planck_omegak_bestfit/perturbation_solution_works/extendk_0-65/data/**/*.npy filter=lfs diff=lfs merge=lfs -text
